
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col-12">
        <form asp-controller="Customer" asp-action="Search" method="post">
            <label for="criteria">Search Criteria :</label>
            <input name="criteria" />
            <label for="searchby">Search By :</label>
            <select name="searchby">
                <option value="companyname">Company Name</option>
                <option value="contactname">Contact Name</option>
                <option value="country">Country</option>
            </select>
            <input type="submit" value="Search" />
        </form>
    </div>

</div>

