@model SRPAndDesignPatterns_V1.Models.IncomeDetails
@{
    ViewData["Title"] = "Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Tax Calculator</h1>
<form asp-controller="Customer" asp-action="Tax" method="post">
    <div class="row">
        <div class="col-12">
            <label asp-for="TotalIncome">Total Income :</label>
            <input type="number" asp-for="TotalIncome" class="form-control input-sm" />
        </div>
        <div class="col-12">
            <label asp-for="TotalDeduction">Total Deduction :</label>
            <input type="number" asp-for="TotalDeduction" class="form-control input-sm" />
        </div>
        <div class="col-12">
            <label asp-for="Country">Country :</label>
            <select asp-for="Country" class="form-control">
                <option value="USA">United States</option>
                <option value="UK">United Kingdom</option>
                <option value="IN">India</option>
            </select>

            <input type="submit" value="Calculate Tax" class="btn btn-success btn-sm pull-right" style="margin-top:10px;" />
            <br />
            <p><strong>Total Tax : @ViewBag.TotalTax</strong></p>
        </div>
    </div>
   
</form>